<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>DKI-인트라넷</title>
<script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="../../scripts/vendor/jquery/jquery.cookie.js"></script>
<script src="../../scripts/common/common.js"></script>
	<!-- common -->
	<link rel="import" href="../common_head.html">
</head>
<frameset rows="90,*">
	<!-- In HTML5, frame/frameset is deprecated. -->
	<frame name="topFrame" src="../menu/top.html" frameborder="0"></iframe>
	<frameset cols="200,*">
		<frame name="leftFrame" src="../menu/left_menu.html?menuType=timesheet" frameborder="0"></iframe>
		<frame name="mainFrame" src="" frameborder="0"></iframe>
	</frameset>
</frameset>
</html>