<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>DKI-인트라넷 사이트</title>
		
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../../styles/css/ui/cms/inc/style.css"/>
	<link rel="stylesheet" href="../../styles/css/ui/login/login.css">
	
<script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="../../scripts/vendor/jquery/jquery.cookie.js"></script>
<script src="../../scripts/common/common.js"></script>
	
	<!-- common -->
	<link rel="import" href="../common_head.html">
	
	<!-- script -->
	<script src="../../scripts/ui/login/login.js"></script>
</head>
<body style="background:white!important;">
	<form name="login_frm" id="login_frm" action="" method="post">
		<div id="login_wrap" style="background: url('');">
			<div id="login_area"
				style="background: url(''); background-color: black; color: white; width: 400px; height: 300px;">
				<h1 style="padding-top: 30px;">
					<img src="../../styles/images/intranet_01.gif" alt="인트라넷" />
					<!--<img alt="coco share 관리자 사이트" src="https://www.dkitec.com/zeroboard/outlogin_skin/dki/images/intranet_01.gif">-->
				</h1>
					<h2 style="padding-top: 20px;">
						<div style="width:331px; height:30px; margin-left:20px;">
							<!-- <input type="radio" name="radioCheck" value="1">일반 로그인
			      			<input type="radio" name="radioCheck" value="2">관리자 로그인 -->
			      			<input type="radio" name="radioCheck" value="1" tabindex="3" checked>
			      			<font size="2">일반 로그인</font> 
			      			<input type="radio" name="radioCheck" value="2" tabindex="4" ><font size="2">
			      			관리자 로그인</font>							
						</div>
					</h2>	
					
					<div class="login_box">
					<dl>
						<dt style="color: white; padding-right: 25px;">아이디</dt>
						<dd>
							<input type="text" id="id" name="id" class="textfield"
								onkeypress="javascript:if(event.keyCode==13){document.getElementById('pw').focus();}" 
								value="" />
						</dd>
					</dl>
					<dl>
						<dt style="color: white; padding-right: 15px;">비밀번호</dt>
						<dd>
							<input type="password" id="pw" name="pw" class="textfield"
								onkeypress="javascript:if(event.keyCode==13){login();}"
								value="" />
						</dd>
					</dl>
					<div class="login_btn">
						<a href="#" id="login"	style="text-decoration: none">
							<div style="width: 65px; height: 66px; background-color: white; color: black;">
								<div style="padding-top: 25px; padding-left: 15px;">Login</div>
							</div>
						</a>
					</div>
				</div> 
				     	
				     		
	      	</div>
	     </div>    	     
	     
	     
	<!-- 	<label for="id">id</label>
		<input type="text" id="id">
		<br>
		<label for="pw">pw</label>
		<input type="password" id="pw">
		<br>
		<a href="#" id="login" class="btn">로그인</a> -->
	</form>
</body>
</html>